.content {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media only screen and (max-width: 1000px) {
    align-items: center;
  }

  &__title {
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--dark-blue);
    margin: 5.5rem 0 2rem 0;
    position: static;

    @media only screen and (max-width: 1000px) {
      margin: 3rem 0 2rem 0;
    }
  }

  &__accordion {
    font-size: 1.2rem;
    font-weight: 400;
    width: 75%;
    flex: 1;

    @media only screen and (max-width: 1000px) {
      width: 90%;
    }

    &-item {
      padding: 1.75rem 0;
      border-bottom: 1px solid var(--light-grey-blue);

      &--question {
        text-decoration: none;
        display: flex;
        align-items: center;
        color: var(--dark-grey-blue);
        width: 100%;
        cursor: pointer;

        & p {
          margin: 0 auto 0 0;
        }

        & p:hover {
          color: var(--soft-red);
        }
      }

      &--answer {
        max-height: 0;
        overflow: hidden;
        transition: all 0.2s;
      }
    }
  }
}

.question-active {
  font-weight: 800;
  color: var(--dark-grey-blue);
}

.answer-active {
  overflow: visible;
  max-height: 20rem;
  color: var(--grey-blue);
  line-height: 1.75rem;
  margin-top: 1.5rem;
  transition: all 0.2s;
}
