.image-container {
  flex: 0 0 50%;
  position: relative;
  overflow: hidden;

  @media only screen and (max-width: 1000px) {
    flex: 0 0 20%;
    overflow: visible;
  }

  .image {
    &__background {
      position: absolute;
      top: -25rem;
      left: -49rem;

      @media only screen and (max-width: 1000px) {
        top: 0;
        left: -12rem;
      }
    }

    &__main {
      position: absolute;
      top: 5rem;
      left: -8rem;
      width: 40rem;

      @media only screen and (max-width: 1000px) {
        top: -10.5rem;
        left: -14rem;
        width: 25rem;
      }
    }
  }
}

.box {
  position: absolute;
  top: 16rem;
  left: -8rem;
  z-index: 10;

  @media only screen and (max-width: 1000px) {
    display: none;
  }
}
