.image-container {
  //   border: 1px solid orangered;
  flex: 0 0 50%;
  position: relative;
  overflow: hidden;

  .image {
    &__background {
      position: absolute;
      // width: 100%;
      // height: 100%;
      top: -25rem;
      left: -49rem;
    }

    &__main {
      position: absolute;
      top: 5rem;
      left: -8rem;
      width: 40rem;
      // height: 100%;
    }
  }
}

.box {
  position: absolute;
  top: 16rem;
  left: -8rem;
  z-index: 10;
}
